.list-container {
    margin-bottom: 12px;
    background: #ffffff;
    box-shadow: 0px 4px 8px #ebeef5;
    border-radius: 12px;
    padding: 24.75px 35.17px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
}

.top img {
    margin: 0;
    display: inline-block;
    margin-right: 33.17px;
}

.text {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.sub-text {
    justify-content: flex-end;
}

.item {
    margin-top: 26px;
    margin-bottom: 13px;
}
