* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #6b6f7c;
    background: #f9fafc;
    letter-spacing: -0.02em;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

@media (max-width: 1000px) {
    .content {
        max-width: 100%;
    }
}

.content img {
    display: flex;
    margin-top: 54px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
